
body{font-family:Arial;margin:0;background:#f4f4f4;}
.header{background:#111;color:white;padding:15px 30px;
display:flex;justify-content:space-between;align-items:center;}
.header nav a{color:white;margin-left:20px;text-decoration:none;}
.logo span{color:#d32f2f;}
.hero{background:#333;color:white;padding:120px 20px;text-align:center;}
.hero-btn{background:#d32f2f;color:white;padding:12px 30px;text-decoration:none;}
.featured{padding:40px;background:white;text-align:center;}
#featuredGrid{display:flex;gap:20px;justify-content:center;}
.feat-card{background:#eee;padding:20px;border-radius:8px;width:250px;}
.categories{padding:40px;text-align:center;background:#fff;}
.cat-grid{display:flex;gap:20px;justify-content:center;}
.cat-card{width:200px;background:#eee;padding:20px;border-radius:10px;}
.form{max-width:400px;margin:auto;display:flex;flex-direction:column;gap:12px;}
